.container {
    width: 1000px;
    margin: auto;
}

.container h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2)
}

.container h2 {
    color: black;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2)
}
